In [1]:
from __future__ import print_function, division
import geopandas as gp
import pandas as pd
import pylab as pl
import os 
import json
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
url1 = 'https://raw.githubusercontent.com/gc2300/PUI2017_gc2300/master/HW6_gc2300/Data/Energy_and_Water_Data_Disclosure_for_Local_Law_84__2013_.csv'
url2 = 'https://raw.githubusercontent.com/gc2300/PUI2017_gc2300/master/HW6_gc2300/Data/MN.csv'

In [3]:
df = pd.read_csv(url1)
mn = pd.read_csv(url2)

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,22,23,25,63,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Record Number,BBL,Co-reported BBL Status,BBLs Co-reported,Reported NYC Building Identificaiton Numbers (BINs),Street Number,Street Name,Borough,Postcode,DOF Benchmarking Submission Status,...,DOF Property Floor Area (Buildngs and Parking)(ft2),Primary Property Type - Self Selected,DOF Number of Buildings,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA
0,12086,1.000410e+09,NaN,1000410001,1001007,NaN,NaN,Manhattan,NaN,BBL not valid,...,NaN,Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14354,4.021460e+09,NaN,NaN,NaN,63-10,108 STREET,Queens,11375.0,No Submission Matched to BBL,...,82730.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12150,2.027620e+09,NaN,2027620097,2006460,NaN,NaN,Bronx,NaN,BBL not valid,...,NaN,Multifamily Housing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12590,1.006700e+09,NaN,NaN,NaN,201,11 AVENUE,Manhattan,10001.0,No Submission Matched to BBL,...,440360.0,NaN,1.0,40.749652,-74.006471,4.0,3.0,99.0,1012266.0,Hudson Yards-Chelsea-Flatiron-Union Square ...
4,15591,2.048300e+09,NaN,2048300034,2063117,NaN,NaN,Bronx,NaN,Not on Covered Buildings List,...,NaN,Multifamily Housing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index([u'Record Number', u'BBL', u'Co-reported BBL Status',
       u'BBLs Co-reported',
       u'Reported NYC Building Identificaiton Numbers (BINs)',
       u'Street Number', u'Street Name', u'Borough', u'Postcode',
       u'DOF Benchmarking Submission Status', u'Site EUI(kBtu/ft2)',
       u'Weather Normalized Site EUI(kBtu/ft2)', u'Source EUI(kBtu/ft2)',
       u'Weather Normalized Source EUI(kBtu/ft2)',
       u'Municipally Supplied Potable Water - Indoor Intensity (gal/ft²)',
       u'Automatic Water Benchmarking Eligible', u'Reported Water Method',
       u'ENERGY STAR Score', u'Total GHG Emissions(MtCO2e)',
       u'Direct GHG Emissions(MtCO2e)', u'Indirect GHG Emissions(MtCO2e)',
       u'Reported Property Floor Area (Building(s)) (ft²)',
       u'DOF Property Floor Area (Buildngs and Parking)(ft2)',
       u'Primary Property Type - Self Selected', u'DOF Number of Buildings',
       u'Latitude', u'Longitude', u'Community Board', u'Council District',
       u'Census Tract', u'BIN', u'NTA'],
      dtype='object')

In [7]:
from pandas.tools.plotting import scatter_matrix
sfig = scatter_matrix(df, s=300, figsize=(10,10),diagonal='kde')
bsize=gp.GeoDataFrame.from_file()

0        12086
1        14354
2        12150
3        12590
4        15591
5        12135
6         8523
7        15920
8        14241
9        15925
10        9685
11        7540
12       14360
13       10588
14       14423
15       12515
16        3028
17       14609
18       12096
19        6666
20        8914
21       11586
22       11714
23       14307
24       12761
25       12091
26       16027
27       13378
28       14911
29       15103
         ...
16140    13804
16141    14559
16142    14560
16143    14748
16144    14753
16145    13582
16146    13947
16147    14779
16148    14409
16149    13262
16150    13261
16151    12523
16152    12529
16153    12536
16154    13929
16155    13944
16156    13945
16157    13821
16158    13829
16159    13837
16160    13838
16161    13847
16162    14352
16163    12976
16164    12978
16165    12984
16166    12987
16167    12988
16168    13472
16169    13482
Name: Record Number, Length: 16170, dtype: int64