By gc2300

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [9]:
import os
import zipfile
import geopandas as gpd
from sklearn.cluster import KMeans, DBSCAN
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster

In [16]:
import io
import requests
import json

In [53]:
import zipfile

In [21]:
os.getenv("PUIDATA")

'/Users/andrewchen/CUSP/PUI/PUIDATA'

# Census Data

!for ((y=94; y<=99; y+=1)); do wget \
https://www2.census.gov/Econ2001_And_Earlier/CBP_CSV//zbp$y\totals.zip; mv \
zbp$y\totals.zip $PUIDATA; done

!for ((y=0; y<=1; y+=1)); do wget \
https://www2.census.gov/Econ2001_And_Earlier/CBP_CSV//zbp0$y\totals.zip; mv \
zbp0$y\totals.zip $PUIDATA; done

!for ((y=2; y<=9; y+=1)); do wget \
https://www2.census.gov/econ200$y\/CBP_CSV/zbp0$y\totals.zip; mv \
zbp0$y\totals.zip $PUIDATA; done

!for ((y=10; y<=14; y+=1)); do wget \
https://www2.census.gov/econ20$y\/CBP_CSV/zbp$y\totals.zip; mv \
zbp$y\totals.zip $PUIDATA; done

# Shapefile

In [27]:
!wget https://data.cityofnewyork.us/download/i8iw-xf4u/application%2Fzip

--2017-12-14 16:08:32--  https://data.cityofnewyork.us/download/i8iw-xf4u/application%2Fzip
Resolving data.cityofnewyork.us... 52.206.68.26
Connecting to data.cityofnewyork.us|52.206.68.26|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://data.cityofnewyork.us/api/views/i8iw-xf4u/files/YObIR0MbpUVA0EpQzZSq5x55FzKGM2ejSeahdvjqR20?filename=ZIP_CODE_040114.zip [following]
--2017-12-14 16:08:34--  https://data.cityofnewyork.us/api/views/i8iw-xf4u/files/YObIR0MbpUVA0EpQzZSq5x55FzKGM2ejSeahdvjqR20?filename=ZIP_CODE_040114.zip
Reusing existing connection to data.cityofnewyork.us:443.
HTTP request sent, awaiting response... 200 OK
Length: 1514401 (1.4M) [application/octet-stream]
Saving to: 'application%2Fzip'

application%2Fzip   100%[===================>]   1.44M  1.22MB/s    in 1.2s

2017-12-14 16:08:35 (1.22 MB/s) - 'application%2Fzip' saved [1514401/1514401]

mv application%2Fzip $PUIDATA

In [50]:
import pandas as pd
import zipfile 
puidata = os.getenv("PUIDATA")
os.system("unzip " + puidata + "/application%2Fzip -d " + os.getenv("PUIDATA") + "/zipcode")
ny = gpd.read_file(puidata + "/zipcode" + "/ZIP_CODE_040114.shp")
ny.head()

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.251871482 188138.3800067157,..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.712964058 186926.4395172149,..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.275535807 183696.33770971, 1..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.3654508889 183617.6128015518,..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.1134308875 176307.4958601296,..."

In [52]:
ny.shape

(263, 13)

# Unzip files

form a list of file names

In [325]:
year = range(1994,2015,1)
year = map(str, year)

In [326]:
year = map(lambda x:x[2:4], year)

In [327]:
ziplist = ny.ZIPCODE.astype(int)

In [328]:
est = pd.DataFrame(ziplist)
est.columns = ['ZIP']

In [329]:
for i in year:
    fname = puidata + '/zbp' + i + 'totals.zip'
    df = pd.read_csv(fname)
    df.columns = map(str.upper, df.columns)
    transition = df.loc[:,['ZIP','EST']]
    transition.columns = ['ZIP','EST' + i ]
    est = est.merge(temp,on='ZIP',how='left')

In [330]:
est.head()

,ZIP,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,...,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14
0,11436,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,...,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0
1,11213,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,...,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0
2,11212,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
3,11225,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,...,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0
4,11218,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,...,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0

In [331]:
est.shape

(263, 22)

In [332]:
est = est.dropna()

# 2.cluster the NUMBER OF ESTABLISHMENTS time series with K-means

From Applied Data Science Class' lab:

In [333]:
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score

In [334]:
for n in range(2,10):
    KM = KMeans(n_clusters=n, random_state=123)
    res = KM.fit(est)
    silhouette_avg = silhouette_score(est, res.labels_)
    print("For n_clusters = {}, the average silhouette_score is : {}".format(n, silhouette_avg))

For n_clusters = 2, the average silhouette_score is : 0.7503260263413386
For n_clusters = 3, the average silhouette_score is : 0.6274164082072634
For n_clusters = 4, the average silhouette_score is : 0.5409261667379652
For n_clusters = 5, the average silhouette_score is : 0.5516794847772424
For n_clusters = 6, the average silhouette_score is : 0.5506935811180247
For n_clusters = 7, the average silhouette_score is : 0.5092436360056777
For n_clusters = 8, the average silhouette_score is : 0.49531771974873273
For n_clusters = 9, the average silhouette_score is : 0.48483630460033283

In [335]:
1 - 0.8245314625069384

0.17546853749306157

In [336]:
0.8245314625069384 - 0.6359690591734918

0.18856240333344665

# The silhouette score decreases the most when the number of clusters changes from 2 to 3. Thus, 3 clusters can be the best for clustering.

In [337]:
n = [2,3,4]
for i in n:
    KM = KMeans(n_clusters=i,random_state=123)
    res = KM.fit(est)
    est['Kmeans' + str(i)] = res.labels_

In [338]:
est.head()

,ZIP,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,...,EST14_x,EST14_y,EST14_x,EST14_y,EST14_x,EST14_y,EST14,Kmeans2,Kmeans3,Kmeans4
0,11436,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,...,109.0,109.0,109.0,109.0,109.0,109.0,109.0,0,0,0
1,11213,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,772.0,...,772.0,772.0,772.0,772.0,772.0,772.0,772.0,0,0,2
2,11212,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,0,0,2
3,11225,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,696.0,...,696.0,696.0,696.0,696.0,696.0,696.0,696.0,0,0,2
4,11218,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,...,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,1736.0,0,2,2

# 3. plot the cluster centers

## ASH Score 50. For doing only half the assignment