by gc2300

In [3]:
SQL_SOURCE = 'https://gc2300.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [4]:
test = '''
SELECT *
FROM citibike
'''

In [5]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
10,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
11,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
12,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
13,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
14,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
15,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
16,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
17,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
18,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
19,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
20,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
21,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
22,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
23,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
24,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
25,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
26,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
27,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
28,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
29,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
46171,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
46172,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
46173,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
46174,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
46175,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
46176,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46177,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46178,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
46179,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
46180,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46181,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46182,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
46183,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
46184,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46185,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46186,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
46187,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
46188,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
46189,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46190,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46191,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
46192,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
46193,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
46194,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
46195,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
46196,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
46197,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
46198,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
46199,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

In [11]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',').columns

Index([u'cartodb_id', u'the_geom', u'the_geom_webmercator', u'gender',
       u'birth_year', u'bikeid', u'end_station_id', u'start_station_id',
       u'tripduration', u'usertype', u'end_station_name',
       u'start_station_name', u'end_station_longitude',
       u'end_station_latitude', u'start_station_longitude',
       u'start_station_latitude', u'stoptime', u'starttime'],
      dtype='object')

# Task 1

# Sort data by station_id

Only checking trips with duration <= 3 hours

In [12]:
q1 = '''
SELECT * FROM citibike
WHERE tripduration <= 3600*3
ORDER BY start_station_id
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q1)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,27104,NaN,NaN,1,1973.0,15927,479,72,386,Subscriber,9 Ave & W 45 St,W 52 St & 11 Ave,-73.991255,40.760193,-73.993929,40.767272,2015-02-05 16:06:00+00,2015-02-05 16:00:00+00
1,23559,NaN,NaN,2,1984.0,14832,359,72,777,Subscriber,E 47 St & Park Ave,W 52 St & 11 Ave,-73.974987,40.755103,-73.993929,40.767272,2015-02-05 08:56:00+00,2015-02-05 08:43:00+00
2,25587,NaN,NaN,1,1973.0,18991,500,72,379,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 12:21:00+00,2015-02-05 12:15:00+00
3,25953,NaN,NaN,1,1966.0,16336,487,72,1156,Subscriber,E 20 St & FDR Drive,W 52 St & 11 Ave,-73.975739,40.733143,-73.993929,40.767272,2015-02-05 13:33:00+00,2015-02-05 13:14:00+00
4,19867,NaN,NaN,1,1978.0,19653,469,72,532,Subscriber,Broadway & W 53 St,W 52 St & 11 Ave,-73.982681,40.763441,-73.993929,40.767272,2015-02-04 19:15:00+00,2015-02-04 19:06:00+00
5,14762,NaN,NaN,1,1942.0,14783,447,72,429,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-04 09:37:00+00,2015-02-04 09:30:00+00
6,35119,NaN,NaN,1,1980.0,20996,529,72,405,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-06 15:14:00+00,2015-02-06 15:07:00+00
7,15472,NaN,NaN,2,1980.0,17219,212,72,869,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-04 11:37:00+00,2015-02-04 11:22:00+00
8,25046,NaN,NaN,1,1987.0,19762,388,72,732,Subscriber,W 26 St & 10 Ave,W 52 St & 11 Ave,-74.002950,40.749718,-73.993929,40.767272,2015-02-05 10:58:00+00,2015-02-05 10:46:00+00
9,20309,NaN,NaN,1,1964.0,21080,79,72,1493,Subscriber,Franklin St & W Broadway,W 52 St & 11 Ave,-74.006667,40.719116,-73.993929,40.767272,2015-02-04 20:12:00+00,2015-02-04 19:47:00+00
10,19618,NaN,NaN,1,1983.0,17600,529,72,923,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-04 19:03:00+00,2015-02-04 18:48:00+00
11,38358,NaN,NaN,1,1984.0,14589,463,72,984,Subscriber,9 Ave & W 16 St,W 52 St & 11 Ave,-74.004432,40.742065,-73.993929,40.767272,2015-02-06 19:46:00+00,2015-02-06 19:30:00+00
12,40757,NaN,NaN,1,1995.0,19729,72,72,229,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
13,40759,NaN,NaN,2,1959.0,18131,72,72,189,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
14,32776,NaN,NaN,1,1968.0,21008,212,72,977,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-06 09:32:00+00,2015-02-06 09:15:00+00
15,31734,NaN,NaN,1,1987.0,18399,379,72,461,Subscriber,W 31 St & 7 Ave,W 52 St & 11 Ave,-73.991600,40.749156,-73.993929,40.767272,2015-02-06 08:09:00+00,2015-02-06 08:02:00+00
16,2282,NaN,NaN,1,1974.0,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
17,11298,NaN,NaN,1,1964.0,21500,79,72,1678,Subscriber,Franklin St & W Broadway,W 52 St & 11 Ave,-74.006667,40.719116,-73.993929,40.767272,2015-02-03 18:49:00+00,2015-02-03 18:21:00+00
18,19984,NaN,NaN,1,1981.0,20119,450,72,373,Subscriber,W 49 St & 8 Ave,W 52 St & 11 Ave,-73.987882,40.762272,-73.993929,40.767272,2015-02-04 19:22:00+00,2015-02-04 19:16:00+00
19,11676,NaN,NaN,1,1984.0,19721,463,72,1082,Subscriber,9 Ave & W 16 St,W 52 St & 11 Ave,-74.004432,40.742065,-73.993929,40.767272,2015-02-03 19:24:00+00,2015-02-03 19:06:00+00
20,40761,NaN,NaN,1,1970.0,20239,382,72,1127,Subscriber,University Pl & E 14 St,W 52 St & 11 Ave,-73.992005,40.734927,-73.993929,40.767272,2015-02-07 10:59:00+00,2015-02-07 10:41:00+00
21,18756,NaN,NaN,1,1964.0,20592,499,72,659,Subscriber,Broadway & W 60 St,W 52 St & 11 Ave,-73.981918,40.769155,-73.993929,40.767272,2015-02-04 18:06:00+00,2015-02-04 17:55:00+00
22,18592,NaN,NaN,1,1959.0,17846,538,72,728,Subscriber,E 48 St & Madison Ave,W 52 St & 11 Ave,-73.976684,40.756660,-73.993929,40.767272,2015-02-04 17:57:00+00,2015-02-04 17:45:00+00
23,1230,NaN,NaN,1,1969.0,17541,212,72,934,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-01 11:30:00+00,2015-02-01 11:14:00+00
24,1983,NaN,NaN,0,NaN,17849,328,72,1944,Customer,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-01 13:12:00+00,2015-02-01 12:39:00+00
25,11240,NaN,NaN,1,1971.0,19039,476,72,1518,Subscriber,E 31 St & 3 Ave,W 52 St & 11 Ave,-73.979661,40.743943,-73.993929,40.767272,2015-02-03 18:42:00+00,2015-02-03 18:16:00+00
26,36397,NaN,NaN,1,1970.0,17274,453,72,747,Subscriber,W 22 St & 8 Ave,W 52 St & 11 Ave,-73.999154,40.744751,-73.993929,40.767272,2015-02-06 17:24:00+00,2015-02-06 17:11:00+00
27,13797,NaN,NaN,1,1977.0,14918,520,72,517,Subscriber,W 52 St & 5 Ave,W 52 St & 11 Ave,-73.976485,40.759923,-73.993929,40.767272,2015-02-04 08:26:00+00,2015-02-04 08:18:00+00
28,7449,NaN,NaN,1,1964.0,18199,367,72,1051,Subscriber,E 53 St & Lexington Ave,W 52 St & 11 Ave,-73.970694,40.758281,-73.993929,40.767272,2015-02-02 18:31:00+00,2015-02-02 18:13:00+00
29,23655,NaN,NaN,2,1982.0,19016,522,72,658,Subscriber,E 51 St & Lexington Ave,W 52 St & 11 Ave,-73.972078,40.757148,-73.993929,40.767272,2015-02-05 08:59:00+00,2015-02-05 08:48:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,14561,NaN,NaN,1,1966.0,20246,427,3002,620,Subscriber,Bus Slip & State St,South End Ave & Liberty St,-74.013942,40.701907,-74.015756,40.711512,2015-02-04 09:22:00+00,2015-02-04 09:12:00+00
46122,10685,NaN,NaN,1,1978.0,18397,238,3002,1085,Subscriber,Bank St & Washington St,South End Ave & Liberty St,-74.008592,40.736197,-74.015756,40.711512,2015-02-03 17:37:00+00,2015-02-03 17:18:00+00
46123,28949,NaN,NaN,1,1952.0,15937,328,3002,590,Subscriber,Watts St & Greenwich St,South End Ave & Liberty St,-74.009660,40.724055,-74.015756,40.711512,2015-02-05 18:30:00+00,2015-02-05 18:20:00+00
46124,14538,NaN,NaN,1,1959.0,17488,494,3002,1626,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-04 09:39:00+00,2015-02-04 09:11:00+00
46125,13799,NaN,NaN,1,1967.0,15510,534,3002,444,Subscriber,Water - Whitehall Plaza,South End Ave & Liberty St,-74.012723,40.702551,-74.015756,40.711512,2015-02-04 08:25:00+00,2015-02-04 08:18:00+00
46126,46023,NaN,NaN,1,1984.0,14613,146,3002,329,Subscriber,Hudson St & Reade St,South End Ave & Liberty St,-74.009106,40.716250,-74.015756,40.711512,2015-02-07 23:08:00+00,2015-02-07 23:03:00+00
46127,3298,NaN,NaN,1,1990.0,19951,264,3002,293,Subscriber,Maiden Ln & Pearl St,South End Ave & Liberty St,-74.007319,40.707065,-74.015756,40.711512,2015-02-01 14:56:00+00,2015-02-01 14:51:00+00
46128,23960,NaN,NaN,1,1980.0,17554,534,3002,400,Subscriber,Water - Whitehall Plaza,South End Ave & Liberty St,-74.012723,40.702551,-74.015756,40.711512,2015-02-05 09:09:00+00,2015-02-05 09:02:00+00
46129,42311,NaN,NaN,1,1985.0,19639,417,3002,388,Subscriber,Barclay St & Church St,South End Ave & Liberty St,-74.010202,40.712912,-74.015756,40.711512,2015-02-07 14:25:00+00,2015-02-07 14:18:00+00
46130,43906,NaN,NaN,1,1998.0,18712,304,3002,457,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-07 17:12:00+00,2015-02-07 17:04:00+00
46131,5584,NaN,NaN,1,1996.0,17936,306,3002,677,Subscriber,Cliff St & Fulton St,South End Ave & Liberty St,-74.005301,40.708235,-74.015756,40.711512,2015-02-01 18:58:00+00,2015-02-01 18:47:00+00
46132,43918,NaN,NaN,1,1984.0,17202,147,3002,394,Subscriber,Greenwich St & Warren St,South End Ave & Liberty St,-74.011220,40.715422,-74.015756,40.711512,2015-02-07 17:12:00+00,2015-02-07 17:05:00+00
46133,40195,NaN,NaN,2,1968.0,15898,347,3002,655,Subscriber,W Houston St & Hudson St,South End Ave & Liberty St,-74.007488,40.728739,-74.015756,40.711512,2015-02-07 09:38:00+00,2015-02-07 09:27:00+00
46134,43258,NaN,NaN,1,1991.0,19500,459,3002,1087,Subscriber,W 20 St & 11 Ave,South End Ave & Liberty St,-74.007756,40.746745,-74.015756,40.711512,2015-02-07 16:19:00+00,2015-02-07 16:01:00+00
46135,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
46136,8100,NaN,NaN,1,1964.0,20339,257,3002,619,Subscriber,Lispenard St & Broadway,South End Ave & Liberty St,-74.002472,40.719392,-74.015756,40.711512,2015-02-03 07:27:00+00,2015-02-03 07:16:00+00
46137,36546,NaN,NaN,1,1978.0,18048,363,3002,163,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-06 17:22:00+00,2015-02-06 17:19:00+00
46138,12433,NaN,NaN,2,1991.0,15456,2008,3002,272,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-03 21:57:00+00,2015-02-03 21:53:00+00
46139,43965,NaN,NaN,2,1985.0,14913,152,3002,501,Subscriber,Warren St & Church St,South End Ave & Liberty St,-74.009106,40.714740,-74.015756,40.711512,2015-02-07 17:18:00+00,2015-02-07 17:10:00+00
46140,23851,NaN,NaN,1,1979.0,21588,329,3002,466,Subscriber,Greenwich St & N Moore St,South End Ave & Liberty St,-74.010206,40.720434,-74.015756,40.711512,2015-02-05 09:03:00+00,2015-02-05 08:56:00+00
46141,13778,NaN,NaN,1,1967.0,16585,3002,3002,85,Subscriber,South End Ave & Liberty St,South End Ave & Liberty St,-74.015756,40.711512,-74.015756,40.711512,2015-02-04 08:18:00+00,2015-02-04 08:16:00+00
46142,1333,NaN,NaN,0,NaN,18288,360,3002,1243,Customer,William St & Pine St,South End Ave & Liberty St,-74.008873,40.707179,-74.015756,40.711512,2015-02-01 11:48:00+00,2015-02-01 11:27:00+00
46143,29531,NaN,NaN,1,1980.0,20663,2008,3002,251,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-05 19:09:00+00,2015-02-05 19:04:00+00
46144,43007,NaN,NaN,1,1966.0,20780,382,3002,1417,Subscriber,University Pl & E 14 St,South End Ave & Liberty St,-73.992005,40.734927,-74.015756,40.711512,2015-02-07 15:59:00+00,2015-02-07 15:35:00+00
46145,41524,NaN,NaN,2,1967.0,16210,417,3002,316,Subscriber,Barclay St & Church St,South End Ave & Liberty St,-74.010202,40.712912,-74.015756,40.711512,2015-02-07 12:42:00+00,2015-02-07 12:37:00+00
46146,29527,NaN,NaN,2,1978.0,20598,2008,3002,298,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-05 19:08:00+00,2015-02-05 19:04:00+00
46147,29526,NaN,NaN,1,1997.0,16178,304,3002,365,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-05 19:10:00+00,2015-02-05 19:04:00+00
46148,27360,NaN,NaN,1,1954.0,17061,3002,3002,79,Subscriber,South End Ave & Liberty St,South End Ave & Liberty St,-74.015756,40.711512,-74.015756,40.711512,2015-02-05 16:30:00+00,2015-02-05 16:29:00+00
46149,36584,NaN,NaN,1,1964.0,15740,328,3002,381,Subscriber,Watts St & Greenwich St,South End Ave & Liberty St,-74.009660,40.724055,-74.015756,40.711512,2015-02-06 17:27:00+00,2015-02-06 17:21:00+00
46150,23807,NaN,NaN,1,1974.0,16147,496,3002,1244,Subscriber,E 16 St & 5 Ave,South End Ave & Liberty St,-73.992390,40.737262,-74.015756,40.711512,2015-02-05 09:16:00+00,2015-02-05 08:55:00+00

sort data by trip duration

Only checking trips with duration <= 3 hours

In [14]:
q2 = '''
SELECT * FROM citibike
WHERE tripduration <= 3600*3

ORDER BY tripduration
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(q2)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,33759,NaN,NaN,1,1979.0,17448,470,470,60,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-06 11:39:00+00,2015-02-06 11:38:00+00
1,7299,NaN,NaN,1,1956.0,20842,474,474,60,Subscriber,5 Ave & E 29 St,5 Ave & E 29 St,-73.986831,40.745168,-73.986831,40.745168,2015-02-02 17:15:00+00,2015-02-02 17:14:00+00
2,38842,NaN,NaN,1,1987.0,16051,445,445,60,Subscriber,E 10 St & Avenue A,E 10 St & Avenue A,-73.981420,40.727408,-73.981420,40.727408,2015-02-06 20:41:00+00,2015-02-06 20:40:00+00
3,14117,NaN,NaN,1,1990.0,21644,296,296,60,Subscriber,Division St & Bowery,Division St & Bowery,-73.997047,40.714131,-73.997047,40.714131,2015-02-04 08:42:00+00,2015-02-04 08:41:00+00
4,13043,NaN,NaN,1,1971.0,14788,521,521,60,Subscriber,8 Ave & W 31 St,8 Ave & W 31 St,-73.994811,40.750450,-73.994811,40.750450,2015-02-04 06:55:00+00,2015-02-04 06:54:00+00
5,45697,NaN,NaN,1,1981.0,21524,393,393,60,Subscriber,E 5 St & Avenue C,E 5 St & Avenue C,-73.979955,40.722992,-73.979955,40.722992,2015-02-07 21:41:00+00,2015-02-07 21:40:00+00
6,19243,NaN,NaN,1,1970.0,20309,248,248,60,Subscriber,Laight St & Hudson St,Laight St & Hudson St,-74.007718,40.721854,-74.007718,40.721854,2015-02-04 18:23:00+00,2015-02-04 18:22:00+00
7,21407,NaN,NaN,1,1980.0,16148,523,523,60,Subscriber,W 38 St & 8 Ave,W 38 St & 8 Ave,-73.991382,40.754666,-73.991382,40.754666,2015-02-04 22:39:00+00,2015-02-04 22:38:00+00
8,11104,NaN,NaN,1,1980.0,16340,471,471,60,Subscriber,Grand St & Havemeyer St,Grand St & Havemeyer St,-73.956981,40.712868,-73.956981,40.712868,2015-02-03 18:02:00+00,2015-02-03 18:01:00+00
9,13482,NaN,NaN,2,1960.0,21627,512,512,60,Subscriber,W 29 St & 9 Ave,W 29 St & 9 Ave,-73.998393,40.750073,-73.998393,40.750073,2015-02-04 07:53:00+00,2015-02-04 07:52:00+00
10,8284,NaN,NaN,1,1982.0,19896,251,251,60,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-03 08:08:00+00,2015-02-03 08:07:00+00
11,7798,NaN,NaN,1,1986.0,17643,379,379,60,Subscriber,W 31 St & 7 Ave,W 31 St & 7 Ave,-73.991600,40.749156,-73.991600,40.749156,2015-02-02 21:40:00+00,2015-02-02 21:39:00+00
12,24408,NaN,NaN,1,1983.0,18581,2009,2009,60,Subscriber,Catherine St & Monroe St,Catherine St & Monroe St,-73.996826,40.711174,-73.996826,40.711174,2015-02-05 09:33:00+00,2015-02-05 09:32:00+00
13,3110,NaN,NaN,1,1985.0,20572,317,317,60,Subscriber,E 6 St & Avenue B,E 6 St & Avenue B,-73.981854,40.724537,-73.981854,40.724537,2015-02-01 14:35:00+00,2015-02-01 14:34:00+00
14,8962,NaN,NaN,1,1976.0,19406,517,517,61,Subscriber,Pershing Square South,Pershing Square South,-73.977910,40.751581,-73.977910,40.751581,2015-02-03 10:03:00+00,2015-02-03 10:02:00+00
15,6934,NaN,NaN,1,1970.0,17141,491,491,61,Subscriber,E 24 St & Park Ave S,E 24 St & Park Ave S,-73.986022,40.740964,-73.986022,40.740964,2015-02-02 11:23:00+00,2015-02-02 11:22:00+00
16,5715,NaN,NaN,2,1950.0,15079,355,355,61,Subscriber,Bayard St & Baxter St,Bayard St & Baxter St,-73.999744,40.716021,-73.999744,40.716021,2015-02-01 19:17:00+00,2015-02-01 19:16:00+00
17,11653,NaN,NaN,1,1980.0,16900,237,237,61,Subscriber,E 11 St & 2 Ave,E 11 St & 2 Ave,-73.986724,40.730473,-73.986724,40.730473,2015-02-03 19:02:00+00,2015-02-03 19:01:00+00
18,6858,NaN,NaN,2,1993.0,15005,461,461,61,Subscriber,E 20 St & 2 Ave,E 20 St & 2 Ave,-73.982050,40.735877,-73.982050,40.735877,2015-02-02 10:06:00+00,2015-02-02 10:05:00+00
19,7551,NaN,NaN,1,1984.0,15131,410,410,61,Subscriber,Suffolk St & Stanton St,Suffolk St & Stanton St,-73.985180,40.720664,-73.985180,40.720664,2015-02-02 18:52:00+00,2015-02-02 18:51:00+00
20,2570,NaN,NaN,1,1900.0,20381,251,251,61,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-01 13:40:00+00,2015-02-01 13:39:00+00
21,10622,NaN,NaN,1,1986.0,19496,444,444,61,Subscriber,Broadway & W 24 St,Broadway & W 24 St,-73.989151,40.742354,-73.989151,40.742354,2015-02-03 17:12:00+00,2015-02-03 17:11:00+00
22,850,NaN,NaN,1,1983.0,15192,388,388,61,Subscriber,W 26 St & 10 Ave,W 26 St & 10 Ave,-74.002950,40.749718,-74.002950,40.749718,2015-02-01 10:27:00+00,2015-02-01 10:26:00+00
23,26912,NaN,NaN,2,1964.0,16247,531,531,61,Subscriber,Forsyth St & Broome St,Forsyth St & Broome St,-73.992663,40.718939,-73.992663,40.718939,2015-02-05 15:35:00+00,2015-02-05 15:34:00+00
24,10810,NaN,NaN,1,1994.0,18190,511,511,62,Subscriber,E 14 St & Avenue B,E 14 St & Avenue B,-73.977724,40.729387,-73.977724,40.729387,2015-02-03 17:32:00+00,2015-02-03 17:31:00+00
25,4501,NaN,NaN,1,1987.0,20593,161,161,62,Subscriber,LaGuardia Pl & W 3 St,LaGuardia Pl & W 3 St,-73.998102,40.729170,-73.998102,40.729170,2015-02-01 16:53:00+00,2015-02-01 16:52:00+00
26,4861,NaN,NaN,2,1980.0,16273,473,473,62,Subscriber,Rivington St & Chrystie St,Rivington St & Chrystie St,-73.991925,40.721101,-73.991925,40.721101,2015-02-01 17:26:00+00,2015-02-01 17:25:00+00
27,10603,NaN,NaN,1,1970.0,18740,510,510,62,Subscriber,W 51 St & 6 Ave,W 51 St & 6 Ave,-73.980420,40.760660,-73.980420,40.760660,2015-02-03 17:10:00+00,2015-02-03 17:09:00+00
28,36187,NaN,NaN,1,1961.0,21649,435,435,62,Subscriber,W 21 St & 6 Ave,W 21 St & 6 Ave,-73.994156,40.741740,-73.994156,40.741740,2015-02-06 16:55:00+00,2015-02-06 16:54:00+00
29,30162,NaN,NaN,1,1980.0,17860,128,128,62,Subscriber,MacDougal St & Prince St,MacDougal St & Prince St,-74.002971,40.727103,-74.002971,40.727103,2015-02-05 20:26:00+00,2015-02-05 20:25:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,43075,NaN,NaN,0,NaN,19050,268,497,6785,Customer,Howard St & Centre St,E 17 St & Broadway,-73.999733,40.719105,-73.990093,40.737050,2015-02-07 17:35:00+00,2015-02-07 15:42:00+00
46122,7812,NaN,NaN,1,1969.0,18742,147,161,6990,Subscriber,Greenwich St & Warren St,LaGuardia Pl & W 3 St,-74.011220,40.715422,-73.998102,40.729170,2015-02-02 23:52:00+00,2015-02-02 21:55:00+00
46123,43954,NaN,NaN,2,1989.0,19830,168,441,7064,Subscriber,W 18 St & 6 Ave,E 52 St & 2 Ave,-73.994564,40.739713,-73.967416,40.756014,2015-02-07 19:07:00+00,2015-02-07 17:09:00+00
46124,7092,NaN,NaN,1,1969.0,16802,284,326,7105,Subscriber,Greenwich Ave & 8 Ave,E 11 St & 1 Ave,-74.002638,40.739017,-73.984267,40.729538,2015-02-02 15:40:00+00,2015-02-02 13:41:00+00
46125,29852,NaN,NaN,1,1986.0,16468,511,250,7165,Subscriber,E 14 St & Avenue B,Lafayette St & Jersey St,-73.977724,40.729387,-73.995653,40.724561,2015-02-05 21:36:00+00,2015-02-05 19:36:00+00
46126,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00
46127,41904,NaN,NaN,0,NaN,15214,468,468,7464,Customer,Broadway & W 55 St,Broadway & W 55 St,-73.981923,40.765265,-73.981923,40.765265,2015-02-07 15:34:00+00,2015-02-07 13:30:00+00
46128,3417,NaN,NaN,1,1983.0,18074,426,363,7649,Subscriber,West St & Chambers St,West Thames St,-74.013221,40.717548,-74.017134,40.708347,2015-02-01 17:10:00+00,2015-02-01 15:03:00+00
46129,689,NaN,NaN,1,1966.0,17212,293,502,7739,Subscriber,Lafayette St & E 8 St,Henry St & Grand St,-73.990765,40.730287,-73.981346,40.714215,2015-02-01 12:07:00+00,2015-02-01 09:58:00+00
46130,308,NaN,NaN,1,1991.0,20860,331,487,7903,Subscriber,Pike St & Monroe St,E 20 St & FDR Drive,-73.991930,40.711731,-73.975739,40.733143,2015-02-01 10:12:00+00,2015-02-01 08:00:00+00
46131,12229,NaN,NaN,2,1977.0,19732,386,330,7990,Subscriber,Centre St & Worth St,Reade St & Broadway,-74.002345,40.714948,-74.005628,40.714505,2015-02-03 23:10:00+00,2015-02-03 20:56:00+00
46132,42874,NaN,NaN,1,1987.0,20201,326,356,8002,Subscriber,E 11 St & 1 Ave,Bialystoker Pl & Delancey St,-73.984267,40.729538,-73.982612,40.716226,2015-02-07 17:32:00+00,2015-02-07 15:19:00+00
46133,34720,NaN,NaN,2,1950.0,21535,501,519,8254,Subscriber,FDR Drive & E 35 St,Pershing Square North,-73.971212,40.744219,-73.977706,40.751873,2015-02-06 16:37:00+00,2015-02-06 14:19:00+00
46134,7486,NaN,NaN,1,1972.0,14711,306,417,8292,Subscriber,Cliff St & Fulton St,Barclay St & Church St,-74.005301,40.708235,-74.010202,40.712912,2015-02-02 20:47:00+00,2015-02-02 18:29:00+00
46135,8992,NaN,NaN,2,1971.0,17690,348,313,8362,Subscriber,W Broadway & Spring St,Washington Ave & Park Ave,-74.001547,40.724910,-73.967510,40.696102,2015-02-03 12:30:00+00,2015-02-03 10:10:00+00
46136,376,NaN,NaN,2,1950.0,16292,355,417,8376,Subscriber,Bayard St & Baxter St,Barclay St & Church St,-73.999744,40.716021,-74.010202,40.712912,2015-02-01 10:52:00+00,2015-02-01 08:32:00+00
46137,21369,NaN,NaN,1,1987.0,20201,311,483,8470,Subscriber,Norfolk St & Broome St,E 12 St & 3 Ave,-73.988021,40.717227,-73.988900,40.732233,2015-02-05 00:52:00+00,2015-02-04 22:31:00+00
46138,39817,NaN,NaN,0,NaN,15620,444,444,8548,Customer,Broadway & W 24 St,Broadway & W 24 St,-73.989151,40.742354,-73.989151,40.742354,2015-02-07 10:10:00+00,2015-02-07 07:47:00+00
46139,39811,NaN,NaN,0,NaN,16131,444,444,8705,Customer,Broadway & W 24 St,Broadway & W 24 St,-73.989151,40.742354,-73.989151,40.742354,2015-02-07 10:10:00+00,2015-02-07 07:45:00+00
46140,21438,NaN,NaN,1,1993.0,16119,410,326,9075,Subscriber,Suffolk St & Stanton St,E 11 St & 1 Ave,-73.985180,40.720664,-73.984267,40.729538,2015-02-05 01:17:00+00,2015-02-04 22:46:00+00
46141,11810,NaN,NaN,1,1968.0,15018,324,324,9373,Subscriber,DeKalb Ave & Hudson Ave,DeKalb Ave & Hudson Ave,-73.981013,40.689888,-73.981013,40.689888,2015-02-03 22:01:00+00,2015-02-03 19:25:00+00
46142,7073,NaN,NaN,1,1940.0,14802,499,499,9556,Subscriber,Broadway & W 60 St,Broadway & W 60 St,-73.981918,40.769155,-73.981918,40.769155,2015-02-02 16:05:00+00,2015-02-02 13:25:00+00
46143,19897,NaN,NaN,2,1966.0,14691,517,402,9572,Subscriber,Pershing Square South,Broadway & E 22 St,-73.977910,40.751581,-73.989551,40.740343,2015-02-04 21:48:00+00,2015-02-04 19:09:00+00
46144,25203,NaN,NaN,1,1962.0,14726,2021,457,9711,Subscriber,W 45 St & 8 Ave,Broadway & W 58 St,-73.988597,40.759291,-73.981693,40.766953,2015-02-05 13:54:00+00,2015-02-05 11:12:00+00
46145,15336,NaN,NaN,1,1985.0,18088,435,435,9807,Subscriber,W 21 St & 6 Ave,W 21 St & 6 Ave,-73.994156,40.741740,-73.994156,40.741740,2015-02-04 13:36:00+00,2015-02-04 10:53:00+00
46146,9696,NaN,NaN,1,1970.0,19070,2023,468,9938,Subscriber,E 55 St & Lexington Ave,Broadway & W 55 St,-73.970314,40.759681,-73.981923,40.765265,2015-02-03 16:55:00+00,2015-02-03 14:10:00+00
46147,7472,NaN,NaN,2,1987.0,19921,264,386,9969,Subscriber,Maiden Ln & Pearl St,Centre St & Worth St,-74.007319,40.707065,-74.002345,40.714948,2015-02-02 21:08:00+00,2015-02-02 18:22:00+00
46148,40221,NaN,NaN,1,1983.0,21323,405,405,10174,Subscriber,Washington St & Gansevoort St,Washington St & Gansevoort St,-74.008119,40.739323,-74.008119,40.739323,2015-02-07 12:20:00+00,2015-02-07 09:31:00+00
46149,10912,NaN,NaN,1,1950.0,16099,435,512,10660,Subscriber,W 21 St & 6 Ave,W 29 St & 9 Ave,-73.994156,40.741740,-73.998393,40.750073,2015-02-03 20:40:00+00,2015-02-03 17:42:00+00
46150,41392,NaN,NaN,1,1973.0,15082,173,284,10757,Subscriber,Broadway & W 49 St,Greenwich Ave & 8 Ave,-73.984427,40.760647,-74.002638,40.739017,2015-02-07 15:16:00+00,2015-02-07 12:17:00+00

# Only show the top 10 records

In [16]:
q3 = '''
SELECT * FROM citibike
ORDER BY tripduration
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q3)),sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,13043,NaN,NaN,1,1971,14788,521,521,60,Subscriber,8 Ave & W 31 St,8 Ave & W 31 St,-73.994811,40.750450,-73.994811,40.750450,2015-02-04 06:55:00+00,2015-02-04 06:54:00+00
1,14117,NaN,NaN,1,1990,21644,296,296,60,Subscriber,Division St & Bowery,Division St & Bowery,-73.997047,40.714131,-73.997047,40.714131,2015-02-04 08:42:00+00,2015-02-04 08:41:00+00
2,8284,NaN,NaN,1,1982,19896,251,251,60,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-03 08:08:00+00,2015-02-03 08:07:00+00
3,11104,NaN,NaN,1,1980,16340,471,471,60,Subscriber,Grand St & Havemeyer St,Grand St & Havemeyer St,-73.956981,40.712868,-73.956981,40.712868,2015-02-03 18:02:00+00,2015-02-03 18:01:00+00
4,3110,NaN,NaN,1,1985,20572,317,317,60,Subscriber,E 6 St & Avenue B,E 6 St & Avenue B,-73.981854,40.724537,-73.981854,40.724537,2015-02-01 14:35:00+00,2015-02-01 14:34:00+00
5,13482,NaN,NaN,2,1960,21627,512,512,60,Subscriber,W 29 St & 9 Ave,W 29 St & 9 Ave,-73.998393,40.750073,-73.998393,40.750073,2015-02-04 07:53:00+00,2015-02-04 07:52:00+00
6,7299,NaN,NaN,1,1956,20842,474,474,60,Subscriber,5 Ave & E 29 St,5 Ave & E 29 St,-73.986831,40.745168,-73.986831,40.745168,2015-02-02 17:15:00+00,2015-02-02 17:14:00+00
7,7798,NaN,NaN,1,1986,17643,379,379,60,Subscriber,W 31 St & 7 Ave,W 31 St & 7 Ave,-73.991600,40.749156,-73.991600,40.749156,2015-02-02 21:40:00+00,2015-02-02 21:39:00+00
8,21407,NaN,NaN,1,1980,16148,523,523,60,Subscriber,W 38 St & 8 Ave,W 38 St & 8 Ave,-73.991382,40.754666,-73.991382,40.754666,2015-02-04 22:39:00+00,2015-02-04 22:38:00+00
9,19243,NaN,NaN,1,1970,20309,248,248,60,Subscriber,Laight St & Hudson St,Laight St & Hudson St,-74.007718,40.721854,-74.007718,40.721854,2015-02-04 18:23:00+00,2015-02-04 18:22:00+00

# Only show the last 10 trips

In [17]:
q4 = '''
SELECT * FROM citibike
ORDER BY tripduration DESC
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q4)),sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,7816,NaN,NaN,1,1955.0,20263,250,263,43016,Subscriber,Lafayette St & Jersey St,Elizabeth St & Hester St,-73.995653,40.724561,-73.996375,40.717290,2015-02-03 09:57:00+00,2015-02-02 22:00:00+00
1,46083,NaN,NaN,2,1951.0,19209,459,492,43013,Subscriber,W 20 St & 11 Ave,W 33 St & 7 Ave,-74.007756,40.746745,-73.990931,40.750200,2015-02-08 11:20:00+00,2015-02-07 23:23:00+00
2,7702,NaN,NaN,1,1982.0,18425,387,195,42784,Subscriber,Centre St & Chambers St,Liberty St & Broadway,-74.004607,40.712733,-74.010434,40.709056,2015-02-03 08:00:00+00,2015-02-02 20:07:00+00
3,39346,NaN,NaN,2,1966.0,17016,450,449,41908,Subscriber,W 49 St & 8 Ave,W 52 St & 9 Ave,-73.987882,40.762272,-73.987895,40.764618,2015-02-07 11:09:00+00,2015-02-06 23:31:00+00
4,6670,NaN,NaN,1,1977.0,20527,389,438,37665,Subscriber,Broadway & Berry St,St Marks Pl & 1 Ave,-73.965251,40.710446,-73.985649,40.727791,2015-02-02 18:57:00+00,2015-02-02 08:29:00+00
5,78,NaN,NaN,0,NaN,14691,525,453,35251,Customer,W 34 St & 11 Ave,W 22 St & 8 Ave,-74.002116,40.755942,-73.999154,40.744751,2015-02-01 10:40:00+00,2015-02-01 00:52:00+00
6,3830,NaN,NaN,1,1967.0,18664,2009,494,35127,Subscriber,Catherine St & Monroe St,W 26 St & 8 Ave,-73.996826,40.711174,-73.997236,40.747348,2015-02-02 01:32:00+00,2015-02-01 15:47:00+00
7,20353,NaN,NaN,0,NaN,20703,372,83,33647,Customer,Franklin Ave & Myrtle Ave,Atlantic Ave & Fort Greene Pl,-73.958089,40.694528,-73.976323,40.683826,2015-02-05 05:12:00+00,2015-02-04 19:52:00+00
8,12444,NaN,NaN,1,1982.0,14769,490,297,32634,Subscriber,8 Ave & W 33 St,E 15 St & 3 Ave,-73.993934,40.751551,-73.986923,40.734232,2015-02-04 07:04:00+00,2015-02-03 22:00:00+00
9,7981,NaN,NaN,2,1974.0,16802,488,497,31396,Subscriber,W 39 St & 9 Ave,E 17 St & Broadway,-73.993722,40.756458,-73.990093,40.737050,2015-02-03 15:03:00+00,2015-02-03 06:19:00+00

# List all unique start_station_id values

In [31]:
q5 = '''
SELECT DISTINCT start_station_id
FROM citibike
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(q5)),sep=',')

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

# Aggregation functions: 

Count the number of trips

In [34]:
q6 = '''
SELECT COUNT(tripduration)
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q6)))

   count  Unnamed: 1
0  46200         NaN

Aggregation functions: 

Find the average/min/max trip duration

In [36]:
q7 = '''
SELECT AVG(tripduration) as avt, min(tripduration) as mint, max(tripduration) as maxt
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q7)))

          avt  mint   maxt
0  675.865823    60  43016

# Task 2

# Selecting trips started on Feb-02-2015 only

In [45]:
q8 ='''
SELECT * FROM citibike
WHERE starttime >= 'Feb-02-2015'
AND   starttime < 'Feb-03-2015'
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q8)),sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,1,1985.0,20572,380,312,722,Subscriber,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,7872,NaN,NaN,1,1981.0,20338,491,486,274,Subscriber,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,7873,NaN,NaN,1,1978.0,15826,515,352,951,Subscriber,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,7874,NaN,NaN,1,1990.0,18325,521,489,276,Subscriber,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,7875,NaN,NaN,1,1977.0,16654,434,494,426,Subscriber,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,7876,NaN,NaN,1,1966.0,20902,229,402,578,Subscriber,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,7877,NaN,NaN,1,1954.0,20796,2017,164,2621,Subscriber,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,7878,NaN,NaN,1,1989.0,20160,449,498,621,Subscriber,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,7879,NaN,NaN,1,1974.0,17392,477,521,323,Subscriber,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,7880,NaN,NaN,1,1963.0,17263,482,434,393,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,7881,NaN,NaN,1,1955.0,19858,497,161,597,Subscriber,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,7882,NaN,NaN,1,1979.0,20319,462,494,244,Subscriber,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,7883,NaN,NaN,1,1977.0,21600,127,306,1023,Subscriber,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,7884,NaN,NaN,1,1986.0,18791,473,349,419,Subscriber,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,7885,NaN,NaN,1,1966.0,17730,358,450,1429,Subscriber,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,7886,NaN,NaN,1,1980.0,18147,477,519,676,Subscriber,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,7887,NaN,NaN,1,1959.0,20249,489,546,879,Subscriber,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,7888,NaN,NaN,1,1988.0,18078,432,336,593,Subscriber,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,7889,NaN,NaN,1,1983.0,16808,164,529,839,Subscriber,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,7890,NaN,NaN,1,1986.0,21355,368,402,560,Subscriber,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,7891,NaN,NaN,1,1994.0,15359,511,504,165,Subscriber,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,7892,NaN,NaN,2,1982.0,18250,489,505,813,Subscriber,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,7893,NaN,NaN,1,1987.0,16969,507,509,764,Subscriber,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,7894,NaN,NaN,1,1979.0,18825,397,496,2111,Subscriber,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,7895,NaN,NaN,1,1983.0,19000,439,280,518,Subscriber,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,7896,NaN,NaN,1,1977.0,20723,440,484,371,Subscriber,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,7897,NaN,NaN,1,1988.0,16528,417,224,188,Subscriber,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,7898,NaN,NaN,1,1988.0,16541,394,345,689,Subscriber,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,7899,NaN,NaN,1,1961.0,14878,537,453,634,Subscriber,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,7900,NaN,NaN,2,1976.0,16326,302,285,733,Subscriber,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

# Selecting trips started on the weekends
 -What are average trip duration during weekends?

In [49]:
q9 = '''
SELECT AVG(tripduration) FROM citibike
WHERE extract(DOW FROM starttime) IN (0,6)
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q9)),sep=',')

          avg  Unnamed: 1
0  662.942181         NaN

Selecting trips started on the weekdays
 -What are average trip duration during weekdays?

In [51]:
q10 = '''
SELECT AVG(tripduration) FROM citibike
WHERE extract(DOW FROM starttime) IN (1,2,3,4,5)
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q10)),sep=',')

          avg  Unnamed: 1
0  681.052292         NaN

# Task 3

# Showing the list of start station locations 
    -in web mercator projection

In [52]:
q11 = '''
SELECT 
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
    ) as the_geom_webmercator,
    MIN(cartodb_id) as cartodb_id
FROM citibike

GROUP BY
    start_station_latitude,
    start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q11)), sep=',')

                                  the_geom_webmercator  cartodb_id
0    0101000020110F0000863F88A4096A5FC19D1DAFD5DFF1...          84
1    0101000020110F0000BB2EC9F82D6A5FC19150E1B461FB...         412
2    0101000020110F0000D62721D3CA6D5FC157A5D529F6F5...         516
3    0101000020110F000060197671C96C5FC197A854AF46FA...         359
4    0101000020110F0000993A68067B6C5FC1B222DA492BFA...          78
5    0101000020110F00004FF9F3E90D6D5FC1F284479FC8F9...        1019
6    0101000020110F00003816CC930D6B5FC17B393D28A0F9...         110
7    0101000020110F00006B6C9CBF186A5FC109C57CA0D8FC...           7
8    0101000020110F00008B8D725EB16B5FC1BF41718A0DF6...         460
9    0101000020110F0000BA97F1D5D36C5FC13D326BC3E4F5...         799
10   0101000020110F000052716DFB7B6D5FC1634AEE724BF4...        5444
11   0101000020110F000079B8DA32AB685FC194DBF126F9F4...         459
12   0101000020110F000004115CC3E56B5FC1D8A47A41AFF7...         618
13   0101000020110F00006C38A18AC36A5FC1CCDA8D8DAFFC...         288
14   0101000020110F0000EC774642E56C5FC13DF29213A3F7...          26
15   0101000020110F00006EAC10AF716A5FC1491D46B773FC...         519
16   0101000020110F0000F211F9C1C7695FC1E298B1F0A7F1...         707
17   0101000020110F00002FE7B4B3FC6D5FC150F152E3E5F5...        1205
18   0101000020110F0000C12D0F658D675FC1323CC0ADCAF2...           6
19   0101000020110F00007392D1EEBD685FC17A448F6F1AF2...        8955
20   0101000020110F00003CBD186C2C6A5FC1C2D62BADBCF6...         370
21   0101000020110F0000B8ECD5128D6D5FC1CF0946E36EF6...         797
22   0101000020110F00007BC267B2266C5FC14EDB28B171F2...         153
23   0101000020110F0000C74600C9BE6B5FC1451EF62F18F9...         424
24   0101000020110F0000F9471F1F9A6C5FC125B4B2DACDF8...          55
25   0101000020110F0000B4B6D9A8FF695FC1B42BC0556EF1...        3237
26   0101000020110F00005293059FE96B5FC1283F96AE66FD...         387
27   0101000020110F0000F9420761D76C5FC19CAEC2F187F6...        1151
28   0101000020110F00001EF7B62F966B5FC1649B856FF3FA...         252
29   0101000020110F00002011DE6425685FC115AB984DDAF1...         653
..                                                 ...         ...
297  0101000020110F00003A962D08646B5FC1C2CAB91C36F2...         574
298  0101000020110F0000BECCC59977685FC1A94F3336D6F2...         968
299  0101000020110F00009492832C826A5FC13DFED2D04CF2...         115
300  0101000020110F0000CECBC1AD456B5FC149916BC5DDFD...        1386
301  0101000020110F00002E55C204246D5FC1CA6FCB5F1FFB...         306
302  0101000020110F00005A738F401D6A5FC1E98304C839F9...         218
303  0101000020110F00000DCC625D696D5FC158A6C354E2F6...        2184
304  0101000020110F0000E9C5F392EA6A5FC14849234B6AF3...         805
305  0101000020110F000029CC2D4A18685FC1860D5E9389F1...         410
306  0101000020110F0000B056ADFF5C6A5FC1500051A8DCF1...         533
307  0101000020110F0000416B223CE96B5FC1EE8BEFEA70FA...         411
308  0101000020110F000049FA5A0D3A695FC1BA4AA87F7AF1...        2402
309  0101000020110F000055982AD3F16B5FC1607FD69C04F6...         339
310  0101000020110F0000A452F7AC7B6B5FC185F5C472A5F6...          83
311  0101000020110F000001D7D2EC996C5FC1E4C65FCA5FF8...         216
312  0101000020110F00003410F605196D5FC18E052E1DD2F8...        1092
313  0101000020110F00006F4EDEDB7D6A5FC177CDA056BEF6...          81
314  0101000020110F00001288289AB06A5FC143D788E4D9FC...         303
315  0101000020110F00000AFD8FC8C36C5FC15AF2587A04FB...         176
316  0101000020110F00001607D538556B5FC119A6CA6F41FC...         124
317  0101000020110F0000049C1A69CE6C5FC1205139A81BF8...          13
318  0101000020110F00002FD56A5DDF685FC1A458A08E56F1...         765
319  0101000020110F00002D1B19CE146C5FC11E9608E2CDF3...        1737
320  0101000020110F0000E463F723266A5FC14F49CEE530FB...        2481
321  0101000020110F00005E9509B1416B5FC19122492B05FD...          71
322  0101000020110F000020CE41FA366A5FC1E47EC45CABFA...         491
323  0101000020110F000084B804B2CF6A5FC14B886A9682F7...         128
324  0101000020110F0000D13ED956106D5FC18EB95BEE7AFA...         239
325  0101000020110F00003F37CE288B6C5FC17049FA687DF6...         971
326  0101000020110F000035628033456B5FC1909E3C7438F6...        1146

[327 rows x 2 columns]

# Showing the number of trips started per station

In [55]:
q12 = '''
SELECT 
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
    ) as the_geom_webmercator,
    COUNT(tripduration) as numtrips
FROM citibike

GROUP BY
    start_station_id,
    start_station_latitude,
    start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q12)),sep=',')

,start_station_id,the_geom_webmercator,numtrips
0,438,0101000020110F0000B77CA834036B5FC19EF5005EBCF7...,156
1,342,0101000020110F0000BEA7E6966A6A5FC1E90E1AC83EF6...,78
2,242,0101000020110F0000E097312EB1695FC111C4474A72F3...,46
3,161,0101000020110F00009B8267C45D6C5FC1577C6302EFF7...,203
4,373,0101000020110F0000C12D0F658D675FC1323CC0ADCAF2...,27
5,168,0101000020110F000071CD414CFB6B5FC149C2933772F9...,327
6,502,0101000020110F00002877F4708B6A5FC1ED3B00D9C9F5...,151
7,421,0101000020110F00000C641AC573695FC10D6A916323F3...,37
8,511,0101000020110F000049C345A6266A5FC17E86BFF6F6F7...,279
9,422,0101000020110F0000CECBC1AD456B5FC149916BC5DDFD...,100
10,150,0101000020110F00006F4EDEDB7D6A5FC177CDA056BEF6...,111
11,346,0101000020110F0000969455933E6D5FC1A4562C44FDF8...,145
12,336,0101000020110F0000C7190C70786C5FC1F82649041FF8...,168
13,447,0101000020110F0000C7B648A0F56A5FC1216D3CB2E3FC...,133
14,224,0101000020110F00005E9EC4512C6D5FC177B28BD464F5...,85
15,456,0101000020110F0000B40569A5BF695FC10D4011DA50FC...,110
16,233,0101000020110F000044F0C73C726B5FC188EC9C51ABF2...,78
17,391,0101000020110F0000A8FBD82BDC6B5FC1FD9F40EE67F3...,69
18,329,0101000020110F0000BBFE259DAE6D5FC13F284F33AEF6...,145
19,403,0101000020110F00000E2687AA8F6B5FC1F3478CEB56F7...,151
20,497,0101000020110F0000B72236DE7E6B5FC1A5B36C6610F9...,455
21,473,0101000020110F0000337955DDB16B5FC1C076C7ACC6F6...,99
22,2005,0101000020110F00009A6669876B695FC10D48A3FB82F4...,7
23,238,0101000020110F0000C4D625B2816D5FC12FBDC310F1F8...,125
24,315,0101000020110F0000B5F95D1A4D6D5FC132F8697042F4...,69
25,312,0101000020110F0000A8014A8A636B5FC10F173AB8E9F6...,207
26,368,0101000020110F0000049C1A69CE6C5FC1205139A81BF8...,238
27,496,0101000020110F0000C74600C9BE6B5FC1451EF62F18F9...,250
28,195,0101000020110F0000BC4C99F3B46D5FC1364ECE710CF5...,137
29,454,0101000020110F0000D387C368DE685FC193F25C8393FB...,55
...,...,...,...
297,366,0101000020110F000087AD95F530695FC170A30C9EC8F2...,88
298,433,0101000020110F0000FBA51FEA756A5FC145EC8A16FDF7...,259
299,348,0101000020110F000071400FA2BD6C5FC1A4E1B08D52F7...,159
300,475,0101000020110F0000B76EBA16396B5FC1E9FD7307CEF8...,156
301,404,0101000020110F0000EA6CA0E22B6D5FC1F97C572892F9...,111
302,212,0101000020110F000011E9874F506D5FC16595D5C8F7F9...,186
303,261,0101000020110F0000887B01DBCA6A5FC1460C403AFFF2...,50
304,530,0101000020110F0000EFB63F568B6B5FC1BA0977D902FE...,120
305,152,0101000020110F000013E68901906D5FC1E01E051FDDF5...,71
306,393,0101000020110F0000DC206DB8646A5FC10C6344210CF7...,142
307,257,0101000020110F0000F9420761D76C5FC19CAEC2F187F6...,123
308,279,0101000020110F0000E75F390EC16C5FC14E0F2D01E1F4...,89
309,344,0101000020110F0000D0E154178D675FC1F29001B79EF1...,34
310,449,0101000020110F00005E9509B1416B5FC19122492B05FD...,107
311,358,0101000020110F0000FC6E938E586D5FC139B57A8E78F8...,292
312,464,0101000020110F00000BFF00CD0C695FC12F8C896943FC...,41
313,390,0101000020110F00001C646E37DD6A5FC1B030DD41A2F2...,27
314,458,0101000020110F00002E55C204246D5FC1CA6FCB5F1FFB...,172
315,345,0101000020110F00001894AD4E406C5FC1C3F266FCFBF8...,257
316,431,0101000020110F0000262E4F4BAF6A5FC18F9D963E1FF2...,28
317,250,0101000020110F0000EEE2EC99196C5FC100162DBD45F7...,289
318,453,0101000020110F0000993A68067B6C5FC1B222DA492BFA...,218
319,265,0101000020110F000055F0F956A56B5FC10907DD79F2F6...,132
320,271,0101000020110F000066B2B2F02F6A5FC1412D1AC2A3F1...,100
321,351,0101000020110F0000F755C40E3D6D5FC1271815E582F4...,63
322,267,0101000020110F000059CCF6FF3A6B5FC15A3E50FC0FFB...,177
323,335,0101000020110F0000F993EDE4EC6B5FC122E50B32EAF7...,222
324,485,0101000020110F0000D0737852C46A5FC1E580A30DFAFA...,157
325,470,0101000020110F0000EF5A95B3936C5FC1FB99CB9AFBF9...,173
326,349,0101000020110F0000126814C8C16A5FC1C316564267F6...,65

#  but only for stations within 500m of Time Square

In [56]:
q13 = '''
SELECT 
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
    ) as the_geom_webmercator,
    COUNT(tripduration) as numtrips
FROM citibike

WHERE
    ST_DWithin(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
    )::geography,
        CDB_LatLng(40.7577,-73.9857)::geography,
        500)

GROUP BY
    start_station_id,
    start_station_latitude,
    start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q13)),sep=',')

,start_station_id,the_geom_webmercator,numtrips
0,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,507
1,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,141
2,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,251
3,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,141
4,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,112
5,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,221
6,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,213

# Task 4

Find the station that had the longest average trip duration during
weekends and within 500m of TimeSquare!

In [62]:
q14 = '''
SELECT 
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
    ) as the_geom_webmercator,
    COUNT(tripduration) as numtrips,
    AVG(tripduration) as avgt
FROM citibike

WHERE
    ST_DWithin(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
    )::geography,
        CDB_LatLng(40.7577,-73.9857)::geography,
        500)
AND
        extract (DOW from starttime) IN (0,6)


GROUP BY
    start_station_id,
    start_station_latitude,
    start_station_longitude
    
ORDER BY avgt DESC
LIMIT 1
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q14)),sep=',')

,start_station_id,the_geom_webmercator,numtrips,avgt
0,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,48,1010.104167

# EXTRA

 create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [67]:
q15 = '''
SELECT 
    start_station_id,
    end_station_id,
    ST_Makeline(
        CDB_TransformToWebmercator(CDB_LatLng(
            start_station_latitude,
            start_station_longitude
            )),
        CDB_TransformToWebmercator(CDB_LatLng(
            end_station_latitude,
            end_station_longitude
        ))
    ) as the_geom_webmercator,
        COUNT(tripduration) as numtrips

FROM citibike

WHERE
    tripduration < 7200
AND
    ST_DWithin(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
    )::geography,
        CDB_LatLng(40.7577,-73.9857)::geography,
        500)    


GROUP BY
    start_station_id,
    start_station_latitude,
    start_station_longitude,
    end_station_id,
    end_station_latitude,
    end_station_longitude
    

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(q15)),sep=',')

,start_station_id,end_station_id,the_geom_webmercator,numtrips
0,173,528,0102000020110F00000200000020D6742CE16A5FC112F4...,2
1,477,435,0102000020110F000002000000F55695027D6B5FC186E5...,2
2,465,538,0102000020110F00000200000004AF971C1D6B5FC17A48...,2
3,493,512,0102000020110F0000020000009BB87D02B76A5FC146C1...,1
4,524,72,0102000020110F000002000000F22A632FBE6A5FC1363A...,1
5,465,446,0102000020110F00000200000004AF971C1D6B5FC17A48...,3
6,524,160,0102000020110F000002000000F22A632FBE6A5FC1363A...,4
7,2021,459,0102000020110F0000020000001607D538556B5FC119A6...,3
8,493,442,0102000020110F0000020000009BB87D02B76A5FC146C1...,3
9,477,263,0102000020110F000002000000F55695027D6B5FC186E5...,1
10,465,332,0102000020110F00000200000004AF971C1D6B5FC17A48...,1
11,173,493,0102000020110F00000200000020D6742CE16A5FC112F4...,1
12,493,454,0102000020110F0000020000009BB87D02B76A5FC146C1...,2
13,2021,495,0102000020110F0000020000001607D538556B5FC119A6...,4
14,529,164,0102000020110F0000020000003F9300B2976B5FC1B8B8...,2
15,493,477,0102000020110F0000020000009BB87D02B76A5FC146C1...,12
16,2021,153,0102000020110F0000020000001607D538556B5FC119A6...,1
17,465,254,0102000020110F00000200000004AF971C1D6B5FC17A48...,1
18,529,422,0102000020110F0000020000003F9300B2976B5FC1B8B8...,5
19,477,284,0102000020110F000002000000F55695027D6B5FC186E5...,2
20,477,318,0102000020110F000002000000F55695027D6B5FC186E5...,31
21,524,515,0102000020110F000002000000F22A632FBE6A5FC1363A...,1
22,493,478,0102000020110F0000020000009BB87D02B76A5FC146C1...,1
23,477,465,0102000020110F000002000000F55695027D6B5FC186E5...,2
24,477,492,0102000020110F000002000000F55695027D6B5FC186E5...,5
25,465,444,0102000020110F00000200000004AF971C1D6B5FC17A48...,5
26,477,500,0102000020110F000002000000F55695027D6B5FC186E5...,2
27,2021,510,0102000020110F0000020000001607D538556B5FC119A6...,2
28,477,489,0102000020110F000002000000F55695027D6B5FC186E5...,1
29,477,486,0102000020110F000002000000F55695027D6B5FC186E5...,4
...,...,...,...,...
542,529,367,0102000020110F0000020000003F9300B2976B5FC1B8B8...,3
543,173,508,0102000020110F00000200000020D6742CE16A5FC112F4...,2
544,173,537,0102000020110F00000200000020D6742CE16A5FC112F4...,1
545,493,515,0102000020110F0000020000009BB87D02B76A5FC146C1...,4
546,173,3002,0102000020110F00000200000020D6742CE16A5FC112F4...,1
547,524,478,0102000020110F000002000000F22A632FBE6A5FC1363A...,1
548,477,152,0102000020110F000002000000F55695027D6B5FC186E5...,1
549,465,496,0102000020110F00000200000004AF971C1D6B5FC17A48...,3
550,493,457,0102000020110F0000020000009BB87D02B76A5FC146C1...,1
551,2021,2023,0102000020110F0000020000001607D538556B5FC119A6...,1
552,465,527,0102000020110F00000200000004AF971C1D6B5FC17A48...,3
553,493,2021,0102000020110F0000020000009BB87D02B76A5FC146C1...,3
554,465,461,0102000020110F00000200000004AF971C1D6B5FC17A48...,6
555,529,493,0102000020110F0000020000003F9300B2976B5FC1B8B8...,1
556,477,294,0102000020110F000002000000F55695027D6B5FC186E5...,1
557,524,442,0102000020110F000002000000F22A632FBE6A5FC1363A...,2
558,493,511,0102000020110F0000020000009BB87D02B76A5FC146C1...,1
559,493,160,0102000020110F0000020000009BB87D02B76A5FC146C1...,6
560,173,164,0102000020110F00000200000020D6742CE16A5FC112F4...,4
561,477,415,0102000020110F000002000000F55695027D6B5FC186E5...,3
562,477,450,0102000020110F000002000000F55695027D6B5FC186E5...,8
563,529,466,0102000020110F0000020000003F9300B2976B5FC1B8B8...,2
564,477,530,0102000020110F000002000000F55695027D6B5FC186E5...,3
565,524,512,0102000020110F000002000000F22A632FBE6A5FC1363A...,2
566,2021,520,0102000020110F0000020000001607D538556B5FC119A6...,1
567,173,422,0102000020110F00000200000020D6742CE16A5FC112F4...,2
568,2021,490,0102000020110F0000020000001607D538556B5FC119A6...,10
569,529,362,0102000020110F0000020000003F9300B2976B5FC1B8B8...,1
570,524,477,0102000020110F000002000000F22A632FBE6A5FC1363A...,1
571,465,280,0102000020110F00000200000004AF971C1D6B5FC17A48...,1